$bold: 700;
$normal: 400;
$default-title-color:#49515C;
$default-subtitle-color:#768390;
$green:#57B952;
$green-soft: #69CA8E;
$blue:#4B9FC6;
$grey:#4c5561;
$background-title: #F5F5F5;
$background-default: #DAE3E7;
$font-family: 'Montserrat', sans-serif;

:root {
  --green:#57B952;
  --blue:#4B9FC6;
}
